:root {
  --thee: #040415;
  --col: #f1f1f1;
}

/* کانتینر کارت */
.boxi {
  background-color: var(--thee);
  width: 100%;
  max-width: 210px;
  height: 120px;
  border-radius: 0.7rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
#ami{
     color: rgb(92, 92, 235);
}
#ami :hover{
    transform: scaleX(1.5);
    
    /* transform: scaleY(1.5); */
    transition: 0.5s;

}

/* آیکن */
.boxi span {
  font-size: 3.5rem;
  opacity: 0.25;
  position: absolute;
  left: 10px;
}

/* متن کنار آیکن */
.mesui {
  margin-left: 5rem;
  color: var(--col);
  display: flex;
  flex-direction: column;
}

.mesui p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.yas,
.yasx {
  font-size: 0.9rem;
  opacity: 0.8;
}

/* ریسپانسیو */
@media (max-width: 768px) {
  .boxi {
    max-width: 100%;
  }
  .mesui p {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .boxi {
    padding: 0.8rem;
    height: 100px;
  }
  .boxi span {
    font-size: 2.8rem;
  }
  .mesui {
    margin-left: 4rem;
  }
}
.box-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* تبلت */
@media (max-width: 992px) {
  .box-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* موبایل */
@media (max-width: 600px) {
  .box-container {
    grid-template-columns: 1fr;
  }
}





#amic{

    color: rgb(92, 235, 156);
}
#amic :hover{
    transform: scaleX(1.5);
    
    /* transform: scaleY(1.5); */
    transition: 0.5s;
}
#amicv{
  
    color: rgb(92, 206, 235);
}
#amicv :hover{
    transform: scaleX(1.5);
    
    /* transform: scaleY(1.5); */
    transition: 0.5s;
}